@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Mulish:wght@800&display=swap');


/*GENERAL STYLES*/
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/forest-background.webp);
}

h1, h2{
    font-family: Mulish, sans-serif;
    color: #fff;
    font-size: 30px;
}

span{
    font-family: Convergence, sans-serif;
    color: #fff;
    font-size: 34px;
}


.welcome-page-wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page{
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(188, 108, 37, 1);
    border-radius: 5%;
    /*text-align: center;*/
    padding: 20px 0;
}

.welcome-page p{
    font-size: 20px;
    text-align: center;
    margin-top: -5px;
}

.welcome-page ul{
    font-size: 20px;
    margin-top: -5px;
}


/*GAME WRAPPER*/

.game-wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area{
    height: auto;
    max-width: 320px;
    background-color: rgba(188, 108, 37, 1);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*QUESTION AREA*/

.question-area{
    max-width: auto;
    padding: 0px 10px;
    margin-top: -10px;
}

/*ANSWER AREA*/

.answer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer--btn{
    width: 70%;
    height: auto;
    margin: 20px 0;
    background-color: rgba(96, 108, 56, 1);
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.answer--btn:hover{
    transform: translate(20px, 0)
}

/*CONTROLS AREA*/

.ctrl-btn-area{
    width: 100;
    height: auto;
    margin: 10px 0;
    /*background-color: orange;*/
    display: flex;
    justify-content: space-evenly;
}

.ctrl--btn{
    /*background-color: blue;*/
    padding: 10px;
    /*background-color: blueviolet;*/
}

/*SCORE AREA*/

.score-area{
    width: 100%;
    height: 100%;
    display: inline;
    flex-direction: column;
    padding: -20px;
    /*background-color: yellow;*/
}