@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Mulish:wght@800&display=swap');

/*GENERAL STYLES*/
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/forest-background.webp);
    font-family: Mulish, Convergence, sans-serif;
}

h1, h2{
    font-family: Mulish;
    color: #fefae0;
    font-size: 30px;
}

span, p, ul, button{
    font-family: Convergence;
    color: #fefae0;
    font-size: 20px;
}

/*WELCOME PAGE*/
.welcome-page-wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page{
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(188, 108, 37, 1);
    border-radius: 5%;
    padding: 20px 0;
}

.welcome-page h1{
    text-align: center;
}

.welcome-page p{
    text-align: center;
    margin-top: -5px;
}

.welcome-page ul{
    margin-top: -5px; 
}

.welcome-page li{
    padding-top: 10px;
}

#start--btn{
    border-radius: 5%;
    background-color: #dda15e;
    padding: 10px;
}

#start--btn:hover{
    transform: scale(1.15);
    transition: 1s;
}


/*GAME AREA*/
.game-wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area{
    height: auto;
    max-width: 320px;
    background-color: rgba(188, 108, 37, 1);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*QUESTION AREA*/
.question-area{
    padding: 0px 20px;
    margin-top: -10px;
}

.question-area h2{
    font-size: 20px;
}

/*ANSWER AREA*/
.answer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.answer--btn{
    width: 70%;
    height: auto;
    margin: 20px 0;
    background-color: #707f40;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.answer--btn:hover{
    transform: translate(20px, 0)
}

/*CONTROLS AREA*/
.ctrl-btn-area{
    width: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.ctrl--btn{
    font-size: 20px;
    border-radius: 5%;
    background-color: #dda15e;
    width: 50%;
    padding: 10px;
}

.ctrl--btn:hover{
    transform: scale(1.15);
    transition: 1s;
}

/*SCORE AREA*/
.score-area{
    width: 100%;
    height: 100%;
}

#score-counter{
    font-size: 30px;
}

/*FINAL SCORE AREA*/
.final-score-wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.final-score-area{
    height: auto;
    width: auto;
    background-color: rgba(188, 108, 37, 1);
    border-radius: 5%;
    padding: 20px 20px;
}

#return-start--btn{
    margin-top: 10px;
}